# Project specific
Resume Data/
docs/
Publish/
Python envs/
temp/
*.bat


# General python
__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/

pip-log.txt
pip-delete-this-directory.txt