# Project
Resume Data/
Publish/
Python envs/
temp/
*.bat

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info

.Python
build/
develop-eggs/
dist/

pip-log.txt
pip-delete-this-directory.txt

.vscode/

env/
venv/